/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-teal/theme.css";
@import "primeng/resources/primeng.min.css";

.p-menubar {
    margin-bottom: 8px;
}

.add-button {
    position: fixed;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
}

.submit-button {
    display: block;
    margin-inline: auto;
    margin-top: 1.5em;
}

.action-button {
    margin-right: 1em;
    width: 7em;
}

p-dropdown div {
    width: 100%;
}